body {
  background-color: #000000;
				font-family: Helvetica, Arial, sans-serif;
				color: #ffffff;
			  padding: 0 15% 0 15%;
  text-align:center;
}
			h1{
			  text-align:center;
        color: #aa80ff;
        text-shadow: 4px 15px #ffffff;
font-family:'DancingScriptRegular';
				font-size:800%;
}
         

h1 { 
   font-family: 'SomeTimeLaterRegular'; 
   font-weight: normal; 
   font-style: normal; 
}
p, h1, h2{
  text-align:center;
}

h1{
  font-size: 1500%;
}
h2{
  font-size:400%;
}
p{
  font-size: 300%;
}


			li {
			  position: static;
				display: inline;
				padding: 0.5em;}

			#nav, #footer {
				background-color: #000000;
				padding: 0.5em 0;}z

			#feature{
				height: 10em;
				margin-bottom: 1em;
				background-color: #4b2e83;}
a{
   font-family: 'JelleeRoman'; 
   font-weight: normal; 
   font-style: normal; 
   color: #ffffff;
   text-shadow: 5px 2px #9696ff;	
}


